.div{
	height: 500px;
	width: 600px;
}
button{
	height: 40px;
	width: 80px;
	background-color: #060a0f;
}
body{
	background-image: url(2018-the-predator-movie-cn-1920x1080.jpg);
}
.a{
	color: #ffffff;
}